.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input, button {
  width: 200px;
  height: 30px;
  font-size: 20px;
  margin: 5px;
}

.food{
  display: flex;
  flex-direction: column;
  border : 2px solid black;
  width: 320px;
  padding: 10px;
  margin: 1px;
  justify-content: center;
  align-items: center;
}